@import url(colors.css);

.button-primary{
    height: 40px;
    background-color: var(--primary);
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 14px;
}


.button-line{
    border: 2px solid var(--primary);
    padding: 8px 20px;
    border-radius: 30px;
    color: var(--primary);
    font-weight: 400;
}

.button-light{
    /* height: 40px; */
    background-color: var(--bg-white);
    padding: 15px 40px;
    border-radius: 5px;
    color: var(--text-dark);
    border: none;
    font-size: 14px;
}

.button-light:hover{
    background-color:var(--primary);
    color: var(--text-white);
}



.button-dark{
    /* height: 40px; */
    background-color: var(--bg-grey-secondary);
    padding: 15px 40px;
    border-radius: 5px;
    color: var(--text-white);
    border: none;
    font-size: 14px;
}

