:root {
  /* Main colors: */
    --primary: #1991eb;
    --secondary: #0f589c;
    --bg-grey: #f2f1f0;
    --bg-grey-secondary: #222324;
    --bg-white: #fff;


  /* Text colors: */
    --text-dark: #222222;
    --text-white: #fff;


    /* icons */
    --bg-icon-grey: #e6e6e6;
    --icon-primary: #222222;
    --icon-white: #fff;
  }