@import url(colors.css);
@import url(button.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{box-sizing: border-box;}

body{
    font-family: "Roboto", sans-serif;
}

a:hover{
    cursor: pointer;
}

.btn-primary{
    background-color: var(--primary);
    border: none;
}

.btn-secondary{
    background-color: rgb(193, 193, 196);
    border: none;
}

.d-none{
    display: block;
}



.header{
    background-color: var(--bg-grey-secondary);
}

.navbar-menu a {
    color: var(--text-white);
}


.top-nav{
    position: sticky;
    top:1px;
    z-index: 10;
}

/* Category, slider and Search */

.search-box{
    padding: 20px 0;
    box-shadow: 0px 8px 13px -5px rgba(0,0,0,0.1); /* When scrool show box-shadow */
    background-color: white;
}

.logo-search{
    width: 10%;
    margin-right: 20px;
}

.category-btn{
    width: 160px;
    margin-right: 20px;
}

.search{
    width: 700px;
    margin-right: 20px;
}

.location{
    padding: 6px 0;
}

.location a{
    text-decoration: none;
    color: var(--primary);
    display: flex;
}

.location a i{
    margin-top: 3px;
    margin-right: 8px;
}

.location a:hover{
    color: var(--secondary);
}


.block{
    display: block;
}

/* Block All Category OnCLick */

.all-category-click{
    height: 400px;
    display: none;
    margin-top: 30px;
    overflow: auto;
}

.category-list{
    position: relative;
}

.main-category{
    padding: 0;
    border-radius: 10px;
}

.main-category-img{
    width: 25px;
    height: 25px;
    background-image: url("https://images.unsplash.com/photo-1514316454349-750a7fd3da3a?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    margin-right: 10px;
}

.main-category li{
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.category-name{
    font-weight: 500;
    
}

.icon{
    position: absolute;
    right: 10px;
}


.main-category-item{
    /* width: 100%; */
    position: fixed;
    padding-top: 10px;
    display: none;
    top: 140px;
    left: 400px;
}


.main-category-item:nth-child(2n + 1){
    /* width: 100%; */
    position: fixed;
    padding-top: 10px;
    display: none;
    top: 140px;
    left: 700px;
}

.main-category-item:nth-last-child(-n + 1){
    /* width: 100%; */
    position: fixed;
    padding-top: 10px;
    display: none;
    top: 140px;
    left: 1000px;
}



.main-category-item a{
    text-decoration: none;
    color: black
}

.main-category-item a:hover{
    color: var(--primary);
}

.main-category li:hover{
    .main-category-item{
        display: block;
    }
}

/* Main box */

main{
    padding: 20px 0;
}

.category-slider{
    --columns: 17;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(var(--columns), [ col ] 1fr);
    grid-template-rows: repeat(3, [ row ] 90px);
}

.category-slider-box{
    background: #f2f1f0;
    display: block;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px 14px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.category-slider-box:hover{
    background-color: #e9e9e7;
}

.big-size{
    grid-column: span 3;
}

.small-size{
    grid-column: span 2;
}

.category-slider-box a{
    text-decoration: none;
}

.category-slider-box article{
    color: black;
    font-weight: 400;
    font-size: 0.8rem;
    position: absolute;
    z-index: 2;
}

.category-img{
    position: absolute;
    width: 90px;
    height: 90px;
    top:0;
    right: 0;
    z-index: 1;
}

.auto{
    width: 120px;
    height: 110px;
    background-image: url("../img/car.png");
    background-size: cover;
    top: -20px;
    right: -15px;
}

.building{
    width: 100px;
    height: 100px;
    background-image: url("../img/building.png");
    background-size: cover;
    top: 10px;
    right: -20px;
}

.service{
    width: 90px;
    height: 90px;
    background-image: url("../img/settings.png");
    background-size: cover;
    top: 10px;
    right: -10px;
}

.electronics{
    width: 120px;
    height: 120px;
    background-image: url("../img/electronics.png");
    background-size: cover;
    top: -10px;
    right: -10px;
}

.house{
    width: 130px;
    height: 130px;
    background-image: url("../img/sofa.png");
    background-size: cover;
    top: -10px;
    right: -30px;
}

.work{
    width: 110px;
    height: 110px;
    background-image: url("../img/work.png");
    background-size: cover;
    top: -5px;
    right: 10px;
}

.toys{
    width: 90px;
    height: 90px;
    background-image: url("../img/toys.png");
    background-size: cover;
    top: 15px;
    right: -20px;
}

.sport{
    width: 100px;
    height: 100px;
    background-image: url("../img/sport.png");
    background-size: cover;
    top: 0;
    right: -15px;
}

.animal{
    width: 100px;
    height: 80px;
    background-image: url("../img/dog.png");
    background-size: cover;
    top: 15px;
    right: -5px;
}

.fishing{
    width: 150px;
    height: 100px;
    background-image: url("../img/fishing.png");
    background-size: cover;
    top: 10px;
    right: -20px;
}

.gifts{
    width: 90px;
    height: 90px;
    background-image: url("../img/gift.png");
    background-size: cover;
    top: 5px;
    right: -5px;
}

.personal{
    width: 110px;
    height: 110px;
    background-image: url("../img/personal.png");
    background-size: cover;
    top: 10px;
    right: -10px;
}

.medical{
    width: 90px;
    height: 90px;
    background-image: url("../img/medical.png");
    background-size: cover;
    top: 0;
    right: -5px;
}

/* Slider full */

.slider-full{
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
}

.slider-img{
    width: 100%;
    height: 400px;
    background-image: url("../img/sale.jpg");
    background-size: cover;
}

/* Product box */

.product-box{
    margin-top: 100px;
}

.product-box a{
    text-decoration: none;
}

.product:hover{
    box-shadow: 0px 8px 13px -4px rgba(0,0,0,0.1);
    
    .dark-img{
        display: block;
    }
}

.product{
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
}


.product-img{
    width: 100%;
    height: 220px;
    background-image: url("../img/product1.jpg");
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.dark-img{
    display: none;
    position: absolute;
    width: 100%;
    height: 220px;
    background-color: #242424;
    border-radius: 10px;
    opacity: 10%;
    z-index: 1;
}

.liked{
    position: absolute;
    z-index: 2;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    font-size: 20px;
}

.product-name{
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    color: var(--primary);
    font-size: 1em;
}

.product-desc-text{
    display: none;
}

.product-desc{
    display: none;
}

.product-price{
    padding: 0;
    margin: 0;
    color: var(--text-dark);
    font-size: 1.2em;
}


.subway{
    display: flex;
}

.subway-icon{
    width: 15px;
    height: 10px;
    background-image: url("../img/Moscow_Metro.svg");
    background-size: cover;
    margin-top: 6px;
    margin-right: 10px;
}

.subway-name{
    color: rgb(175, 174, 174);
    font-size: 14px;
}

.product-date{
    color: rgb(175, 174, 174);
    font-size: 12px;
}

.user-avatar{
    width: 40px;
    height: 40px;
    background-color: rgb(145, 10, 186);
    border-radius: 50%;
    background-image: url("/img/dog.png");
    background-size: cover;
}

/* Main Right */
.main-right{
    padding-left: 20px;
}

.add-right{
    margin-left: 10px;
    width: 100%;
    height: 450px;
    background-color: grey;
    padding: 0;
    position: relative;
}

.black-box{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 30%;
}

.add-right:hover{
    .black-box{
        display: block;
    }
}

.add-img{
    width: 100%;
    height: 450px;
    background-image: url("../img/post.jpg");
    background-size: cover;
}







@media screen and (min-width: 400px) {
    body {
      background: blue;
    }

    .logo-search{
        display: none;
    }

    .category-btn{
        display: none;
    }

    .location{
        display: none;
    }


}


@media screen and (min-width: 600px) {
    body {
      background: red;
    }

    .logo-search{
        display: none;
    }

    .category-btn{
        display: none;
    }

    .location{
        display: block;
    }
   
}

@media screen and (min-width: 800px) {
    body {
      background: lightgreen;
    }

    .logo-search{
        display: none;
    }

    .category-btn{
        display: block;
        width: 160px;
    }

  
    .location{
        display: block;
    }

  
}


@media screen and (min-width: 1000px) {
    body {
      background: white;
    }

    .logo-search{
        display: block;
    }

    .category-btn{
        display: block;
        width: 160px;
    }

    .location{
        display: block;
    }

}

