@import url(colors.css);
@import url(button.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: "Roboto", sans-serif;
}

.mr-20{
    margin-right: 20px;
}

.container-main{
    width: 95%;
    margin: auto;
}

.header{
    background-color: var(--bg-grey-secondary);
}

.navbar-menu a {
    color: var(--text-white);
    font-size: 14px;
}


/* Category, slider and Search */
.logo-search-box{
    width: 100%;
}

.search{
    width: 100%;
    height: 40px;
    padding: 2px;
    background-color: var(--primary);
    border-radius: 5px;
}

.search-input{
    width: 90%;
    border-radius: 3px;
    border: none;
}

.search button{
    margin-top: -2px;
}

/* Slider */
.slider{
    width: 100%;
    height: 350px;
    border-radius: 5px;
    background-image: url("https://images.unsplash.com/photo-1578500494198-246f612d3b3d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    padding-top: 270px;
    padding-left: 30px;
}

/* Category */

.category{
    padding-top: 50px;
    height: 300px;
    overflow: scroll;
}

.category-box{
    margin-right: -5px;
    margin-left: -5px;    
}
.category-item{
    height: 100px;
    padding: 10px;
    overflow: hidden;
    background-color: var(--bg-grey);
    margin: 5px;
    justify-content: space-between;
    border-radius: 5px;
}

.category-item:hover{
    background-color: #e9e7e7;
}

.category-name{
    font-weight: 500;
}

.auto{
    width: 150px;
    height: 100px;
    margin-right: -20px;
    float: right;
    background-image: url("/img/car-png-39071.png");
    background-size: cover;
}

.transport{
    width: 150px;
    height: 150px;
    margin-right: -50px;
    margin-top: -50px;
    float: right;
    background-image: url("/img/[removal.ai]_c323314e-38a4-46dc-a1ed-15afc202cffd-46f9eb42-9260-49d1-a977-4b6d991cfad1.png");
    background-size: cover;
}

.service{
    width: 100px;
    height: 100px;
    margin-right: -10px;
    margin-top: -30px;
    float: right;
    background-image: url("/img/[removal.ai]_8ff2bb48-d29b-4050-a188-079d78ebe911-close-up-wooden-toolbox-with-different-tools.png");
    background-size: cover;
}

.plants{
    width: 70px;
    height: 100px;
    margin-right: -15px;
    margin-top: -20px;
    float: right;
    background-image: url("/img/plant.png");
    background-size: cover;
}

.title h3{
    font-size: 18px;
    color: var(--text-dark);
}

/* Card */

.card-img{
    width: 100%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1546435770-a3e426bf472b?q=80&w=2930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    padding: 10px;
}

.like{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: grey;
    border:none;
    background-color: rgb(255, 255, 255);
    float: right;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

.card-title{
    color: var(--primary);
    font-weight: 500;
    font-size: 18px;
}

.card-price{
    font-weight: 600;
    color: var(--bg-grey-secondary);
}

.card-address{
    font-size: 14px;
    color: grey;
}

.card-date{
    font-size: 14px;
    color: grey;
}

.show-more-box{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}



/* .icon{
    color: var(--icon-primary);
    padding: 20px;
    background-color: var(--bg-icon-grey);
    border-radius: 50%;
} */
